numpy == 1.26.4
pandas == 2.3.2
matplotlib == 3.10.6
seaborn == 0.13.2
Cython == 3.1.4
joblib == 1.5.2

scikit-learn== 1.7.2
tensorflow == 2.20.0
xgboost == 3.0.5
catboost == 1.2.8
lightgbm == 4.6.0

shap == 0.48.0
optuna == 4.5.0
pmdarima == 2.0.3
statsmodels == 0.14.5